<!DOCTYPE HTML>

<html>
<head>
	<meta charset="UTF-8">
	<title>Blog - Game Website Template</title>
	<link rel="stylesheet" href="../../static/css/style.css" type="text/css">
    <style>
        .logo{
            text-decoration: none;
            color: gray;
            font-size: x-large;
        }
    </style>
</head>
<body>
<script src="/gg_bd_temp_ad_720x90.js" type="text/javascript"></script>
	<div id="background">
		<div id="header">
			<div>
				<div>
					<a href="index.html" class="logo"><h1 align="center">宫颈癌RNA-Seq数据库</h1></a>
					<ul>
						<li>
							<a href="index.html" id="menu1">首页</a>
						</li>
						<li>
							<a href="dbs.html" id="menu2">数据库</a>
						</li>
						<li>
							<a href="partdt.html" id="menu3">全局分析</a>
						</li>
						<li>
							<a href="alldt.html" id="menu4">验证实验</a>
						</li>
						<li class="selected">
							<a href="contact.html" id="menu5">联系我们</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="body">
			<div>
				<div>
					<div class="blog">
						<div class="content">
							<ul>
								<li>
									<div class="header">
										<b>分析请求</b>
									</div>
									<div class="article">
										<a href="" class="figure"><img src="../../static/images/blog1.jpg" alt=""></a>
										<p>
                                            如果您对某些样本感兴趣，可以提交样本实验的project，我们可以帮您找到差异基因，并将结果发送到您的邮箱，您可以下载样本信息得知样本实验的project<button onclick="window.location.href='/down_runlist'">下载样本信息</button>
										</p>
                                        <form action="tools/searchgexp" method="post" style="border-width:4px;border-color:blue">
                                            请输入project：<input type="text" name="project" size="20" required><br>
                                            请输入您的邮箱：<input type="email" name="email" size="20" required><br>
                                            <input type="submit" value="提交">
                                        </form>
									</div>
								</li>
								<li>
									<div class="header">
										<b>样本补充</b>
									</div>
									<div class="article">
										<a href="" class="figure"><img src="../../static/images/video4.jpg" alt=""></a>
										<p>
                                            如果您有新的样本给我们补充，如sra的accession或者fastq文件，可以发送给我们！
										</p>
                                        <form action="tools/searchgexp" method="post" style="border-width:4px;border-color:blue;align:center">
                                            <input type="radio" name="sample" value="accession" >请输入accession：<input type="text" name="project" size="20" required><br>
                                            <input type="radio" name="sample" value="fastq">或提交fastq文件<input type="file" name="fastq" id="avatar_file" required><br>
                                            请输入您的邮箱：<input type="email" name="email" size="20" required>
                                            <input type="submit" value="提交">
                                        </form>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				<ul>
					<li id="facebook">
						<a href="#">facebook</a>
					</li>
					<li id="twitter">
						<a href="#">twitter</a>
					</li>
					<li id="googleplus">
						<a href="#">googleplus</a>
					</li>
				</ul>
				<p>
					@ copyright 2012. All rights reserved.&nbsp;<a href="http://js.itivy.com" title="网页素材" target="_blank">网页素材</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>