<!DOCTYPE HTML>

<html>
<head>
	<meta charset="UTF-8">
	<title>About - Game Website Template</title>
	<link rel="stylesheet" href="../../static/css/style.css" type="text/css">
    <style>
        .logo{
            text-decoration: none;
            color: gray;
            font-size: x-large;
        }
    </style>
</head>
<body>
<script src="/gg_bd_temp_ad_720x90.js" type="text/javascript"></script>
	<div id="background">
		<div id="header">
			<div>
				<div>
					<a href="index.html" class="logo"><h1 align="center">宫颈癌RNA-Seq数据库</h1></a>
					<ul>
						<li class="selected">
							<a href="index.html" id="menu1">首页</a>
						</li>
						<li>
							<a href="dbs.html" id="menu2">数据库</a>
						</li>
						<li>
							<a href="partdt.html" id="menu3">全局分析</a>
						</li>
						<li>
							<a href="alldt.html" id="menu4">验证实验</a>
						</li>
						<li>
							<a href="contact.html" id="menu5">联系我们</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="body">
			<div>
				<div>
					<div class="about">
						<div class="content" style="color: yellow">
							<ul>
								<li>
									<h3>宫颈癌</h3>
									<div>
										<p>
                                            宫颈癌是仅次于乳腺癌的第二大妇科恶性肿瘤，是其中发病率最高的生殖系统肿瘤。当前研究显示全球内新增癌症病例超过1800 万，死亡人数达960 万，而女性癌症中宫颈癌的发病率占13.1%，死亡率达 6.9%。
											我国新发肿瘤病例380.4万例，死亡病例高达 229.6万例，这意味着我国癌症病发占全世界的20%，就宫颈癌而言，我国也是高发区之一，并且近年来其发病率一直呈升高的趋势。
										</p>
                                        <img src="../../static/images/hpv.jpg" alt="" width="400" height="300">
										<p>
                                            宫颈癌的致病因素很多，其发生发展是一个相当复杂的生物过程, 往往是长时间、多因素、多步骤作用的结果。其中高危致病因素包括宫颈糜烂、性生活、高发年龄、社会因素、吸烟等；而微生物学致病因素包括人乳头瘤病毒（HPV）、巨细胞病毒（HCMV）、单纯疱疹病毒 2 型 (HSV-2)。其中，HPV是宫颈癌发病的必要因素和最起始原因。
										</p>
									</div>
								</li>

							</ul>
						</div>
						<div class="aside" style="color: yellow">
							<ul>
								<li>
									<h3>RNA-Seq</h3>
									<div>
                                        <img src="../../static/images/RNA.jpg" alt="" width="400" height="200">
										<p>
                                            随着功能基因组时代的到来，转录组测序技术快速发展且应用相对广泛人类基因组测序的完成和成熟，也有力地推动着人类转录组的
深入解析。所谓转录组，就是来自某一物种或细胞内全部转录本的集合，包括转录本的数量、特定时期阶段的表达情况，后期的修饰等。狭义上的转录组学研究对象是mRNA。而RNA-Seq分析就是对转录组的分析，它可以提供细胞或者组织的基因表达信息，通过这些可以检测未知基因以及推断未知基因的功能，并揭示其调节机制和分子作用机理，进而研制药物用于疾病的诊断。转录组能够揭示基因的功能和调控机制，也能发现未知基因，这些都能给药物设计以及疾病治疗提供重要依据。这项分析技术使我们对细胞发育及其调控机制的理解，达到了前所未有的深度和广度，对于揭示特定生物学过程具有重要意义。正因为如此，RNA-Seq 数据分析在基因组学也显得尤其重要。RNA-Seq技术是生物研究中的重要方法之一，在超过一半的测序项目中，都会涉及RNA-Seq 数据。
										</p>
									</div>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				<ul>
					<li id="facebook">
						<a href="#">facebook</a>
					</li>
					<li id="twitter">
						<a href="#">twitter</a>
					</li>
					<li id="googleplus">
						<a href="#">googleplus</a>
					</li>
				</ul>
				<p>
					@ copyright 2012. All rights reserved.&nbsp;<a href="http://js.itivy.com" title="网页素材" target="_blank">网页素材</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>