<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    	<link rel="stylesheet" href="../../static/css/style.css" type="text/css">
    <title>查询结果</title>
    <style>
        .result{
            color: yellow;
        }
    </style>
</head>
<body>

<table border="5" bgcolor="black" cellpadding="3" cellspacing="3" class="result" align="center">
    <tr>
        {% for i in item %}<td>{{ i }}</td>{% endfor %}
    </tr>
    {% for gene in genes %}
    <tr>
        {% for item in gene %}
            <td>{{ item }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</body>
</html>